<div class="clearfix">
  <p class="left">Years</p>
  {{#if fq}}
    <p class="right"><a href="#"{{action 'clearFilter'}}>[ x ]</a></p>
  {{/if}}
</div>
<ul class="filter-year">
  {{#each data}}
    <li><a href="#" {{action 'filterYear' this}}>{{year}} ({{count}})</a></li>
  {{/each}}
</ul>