doctype html
html
	head
		title= settings.title
		link(rel='stylesheet', href='css/app.css')
		link(rel='stylesheet', href='css/main.css')
	body

		block content

		//- library scripts
		script(src='bower_components/jquery/dist/jquery.min.js')
		script(src='bower_components/foundation/js/foundation.min.js')
		script(src='bower_components/handlebars/handlebars.min.js')
		script(src='bower_components/ember/ember.js')
		script(src='bower_components/ember-data/ember-data.js')

		//- ember application
		script(src='js/templates/templates.js')
		script(src='js/app/main.js')
		script(src='js/app/router.js')
		script(src='js/app/components/FilterYearComponent.js')
		script(src='js/app/models/MovieModel.js')
		script(src='js/app/models/FacetYearModel.js')
		script(src='js/app/controllers/ApplicationController.js')
		script(src='js/app/controllers/MoviesController.js')