/* line 1, ../scss/views/_home.scss */
body {
  background: #FFF;
}

/* line 5, ../scss/views/_home.scss */
.loading {
  display: block;
  margin: 20px auto;
}

/* line 1, ../scss/views/_movies.scss */
.filter-year,
.search-results {
  list-style: none;
  margin-left: 0;
}
/* line 11, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_bullets.scss */
.filter-year li,
.search-results li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 7, ../scss/views/_movies.scss */
.movie-title {
  font-size: 1.25rem;
  font-weight: bold;
}

/* line 12, ../scss/views/_movies.scss */
.movie-details {
  width: 80%;
}
/* line 14, ../scss/views/_movies.scss */
.movie-details p {
  margin-bottom: 2px;
}

/* line 19, ../scss/views/_movies.scss */
.poster-img {
  width: 10%;
}
/* line 21, ../scss/views/_movies.scss */
.poster-img img {
  float: right;
}
