<header>
  <nav class="top-bar">
{{!--     <ul class="title-area">
      <li class="name">
        <h1><a href="#">Movies</a></h1>
      </li>
    </ul> --}}
  </nav>
</header>
<div id="container">
  <div class="row">
    <div class="columns small-12 large-12">
      <h3>Movies</h3>
      <div class="row collapse">
        <div class="small-10 medium-11 columns">
          {{input type="text" value=query insert-newline="search" placeholder="Search for Movies"}}
        </div>
        <div class="small-2 medium-1 columns">
          <a href="#" class="button postfix" {{action 'search'}}>Go</a>
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
</div>