<div class="row">
  <div class="columns small-12 large-3">
    <p>Filters</p>
    {{#if facetYear}}
    {{filter-year data=facetYear action='filterYear' fq=fq}}
    {{/if}}
  </div>
  <div class="columns small-12 large-9">
    <p>Found {{meta.numFound}} results found for "{{q}}":</p>
    <ul class="search-results">
      {{#each item in model}}
        <li class="panel clearfix">
          <div class="movie-details left">
            <a {{bind-attr href=item.link}} target="_blank"><h3 class="movie-title">{{item.title}}</h3></a>
            <p>Year: {{item.year}}</p>
            <p>Rating: {{item.mpaa_rating}}</p>
            <p>Runtime: {{item.runtime}} minutes</p>
            <p>Critic's score: {{item.critics_score}}</p>
            <p>Audience's score: {{item.audience_score}}</p>
            <p>Genres:</p>
            <ul>
              {{#each g in item.genres}}
                <li>{{g}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="poster-img right">
            <img {{bind-attr src=item.poster}} />
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
