.filter-year,
.search-results {
  @include no-bullets;
  margin-left: 0;
}

.movie-title {
  font-size: rem-calc(20);
  font-weight: bold;
}

.movie-details {
  width: 80%;
  p {
    margin-bottom: 2px;
  }
}

.poster-img {
  width: 10%;
  img {
    float: right;
  }
}